Copyright Â© 2020 Selangor Human Resource Development Center. All Rights Reserved.

# Data Types and Variables

1. Store a message in a variable, then print that message. Then change the value of your variable to a new message, and print the new message.

In [27]:
msg = "My first Python learning"
print(msg)

My first Python learning

2. Use built-in input function to prompt a number to be typed and store it inside a variable. Print the variable

In [28]:
number = input("Enter a Number:")
print(number)

## Numbers

1. Write addition, subtraction, multiplication, and division operations that each result in the number 8. Be sure to enclose your operations in print statements to see the results. You should create four lines that look like this:

            print(5 + 3)

In [37]:
print(4+4)
print(10-2)
print(2*4)

8
8
8

In [40]:
print(1*8)
print(int(16/2))
print(24//3)

8
8
8

2. Store a number in a variable. Then, using that variable, create a message that reveals that number. Print that message.

In [41]:
y=5
print("the variable in y is",y)

the variable in y is 5

## Strings

1. Use len method to print the length of the string. (Use "Hello World" as string)

In [44]:
tempstr="Hello World"
len(tempstr)

11

2. Get the first character of the string 'Hello World'

In [45]:
tempstr[0]

'H'

3. Get the characters from index 2 to index 4 of the same string

In [51]:
tempstr[2-4]

'l'

4. Return the string without any whitespace at the beginning or the end.

In [52]:
no_spaces_tmp = "    Hello World   "
print(no_spaces_tmp)
print(no_spaces_tmp.strip())

    Hello World
Hello World

5. Convert the value of txt to upper case

In [57]:
s="hellO"
s.upper()

'HELLO'

6. Convert the value of txt to lower case

In [58]:
s.lower()

'hello'

7. Replace the character 'H' with a 'J'

In [59]:
s.replace("h", "j")

'jellO'

8. Insert the correct syntax to add a placeholder for the age parameter.

            age = 36
            txt = "My name is John, and I am __" # Use placeholder for the age parameter
            print(txt.format(age))

In [60]:
age=36

txt = "my name is John and I am {}" #Use placeholder for the age parameter
print(txt.format(age))

my name is John and I am 36

## Lists

1. Print the second item in the fruits list.

                fruits = ['apple', 'banana', 'cherry']

In [61]:
fruits=['apple', 'banana', 'cherry']
fruits[1]

'banana'

2. Change the value from "apple" to "kiwi", in the fruits list.

In [62]:
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

3. Use the append method to add "orange" to the fruits list.

In [63]:
fruits.append("orange")
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

4. Use the insert method to add "lemon" as the second item in the fruits list.

In [69]:
fruits.insert(1,"lemon")
print(fruits)

['lemon', 'lemon', 'kiwi', 'lemon', 'lemon', 'banana', 'cherry', 'orange']

5. Use remove method to remove 'banana' from the fruits list.

In [73]:
fruits.remove("banana")
print(fruits)

['kiwi', 'lemon', 'cherry', 'orange']

6. Use negative indexing to print the last item in the list.

In [74]:
print(fruits[-1])

orange

7. Use a range of indexes to print the third, fourth, and fifth item in the list.

                fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [76]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:6])

['cherry', 'orange', 'kiwi', 'melon']

8. Use the correct syntax to print the number of items in the list.

In [77]:
print(len(fruits))

7

## Dictionaries

1. Use get method to print the value of the 'model' key of the car dictionary.

                car =	{
                  "brand": "Ford",
                  "model": "Mustang",
                  "year": 1964
                }

In [110]:
car =	{
                  "brand": "Ford",
                  "model": "Mustang",
                  "year": 1964
                }
                
print(car.get("model"))

Mustang

2. Change the "year" value from 1964 to 2020.

In [118]:
car["year"]=2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

3. Add key/value pair 'color': 'red' to the car dictionary

In [119]:
car["Color"]="RED"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'Color': 'RED'}

4. Use the pop method to remove 'model' from the car dictionary

In [124]:
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 2020, 'Color': 'RED'}

5. Use the clear method to empty the car dictionary.

In [ ]:
car.clear()

## Tuples

1. Use the correct syntax to print the first item in the fruits tuple.
    
                fruits = ('apple', 'banana', 'cherry')

In [125]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

2. Use the correct syntax to print the number of items in the fruits tuple.

In [126]:
print(len(fruits))

3

3. Use negative indexing to print the last item in the tuple.

In [127]:
print(fruits[-1])

cherry

## Datatype conversion

1. Convert number 5 to a floating point number

In [129]:
float(5)

5.0

2. Convert 5.5 to integer

In [131]:
x=5.5
x=int(x)
print (x)

5

3. Convert number 5 into a complex number

In [132]:
print(complex(5))

(5+0j)

# Control Statements

1. Print 'Big' if a is greater than b.

                a = 50
                b = 10

In [29]:
a=50
b=10
if a>b:
    print("big")

big

2. Print 'Not Equal' if a is not equal to b.

In [30]:
if a!=b:
    print("Not equal")

Not equal

3. Print "Equal" if a is equal to b, otherwise print "Not Equal"

In [31]:
if a==b:
    print("Equal")

4. Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [32]:
if a==b:
    print(1)
elif a>b:
    print(2)
else:
    print(3)

2

5. Print "Hello" if a is equal to b, and c is equal to d.

                c = 5
                d = 15

In [33]:
if(a==b) and (c==d):
    print("Hello")

6. Print "Hello" if a is equal to b, or if c is equal to d.

In [34]:
c=5
d=15
if(a==b) or (c!=d):
    print("Hello")

Hello

7. Use the correct short hand syntax to write the following conditional expression in one line:

if 5>2:
    print("Yes")
else:
    print("No")

In [23]:
print("Yes") if 5>2 else print("No")

Yes

# Functions

1. Create a function named my_function to print 'Hello from a function' when called

In [25]:
def my_function():
    print("Hello from a function")

2. Execute a function named my_function.

                def my_function():
                  print("Hello from a function")

In [26]:
my_function()

Hello from a function

3. Let the function return the x parameter + 5.

In [35]:
def my_function(x):
    return x+5

result =my_function(15)
print(result)

20

## Lambda

1. Create a lambda function that takes one parameter a and returns it

In [36]:
x=lambda a:a

# Loops

### For Loops

1. Loop through the items in the fruits list and print each item

                fruits = ['apple', 'banana', 'cherry']

In [80]:
fruits_list =['apple', 'banana', 'cherry']
for i in fruits_list:
    print(i)

apple
banana
cherry

2. In the loop, when item value is 'banana', jump directly to the next item.

In [87]:
for x in fruits:
    if x =="banana":
        continue
        print(f)

3. Use the range function to loop through a code set 6 times

In [86]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [85]:
x=0
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

### While Loops

1. Print i as long as i is less than 6.

In [88]:
i=0
while i<6:
    print(i)
    i+=1

0
1
2
3
4
5

2. Stop the loop if i is 3

In [93]:
i=0
while i<10:
    if i==3:
        break
    print(i)
    i+=1

0
1
2

3. In the loop, when i is 3, jump directly to the next iteration.

In [94]:
# first answer
i=0
while i<10:
    if i!=3:
        print(i)
    i+=1

0
1
2
4
5
6
7
8
9

4. Print a message once the condition is false

In [97]:
i=0
while i==6:
    # print("Text1 -> Condition is false i =" + str(i))
    print(i)
    i+=1
    if i==6:
        print("Text2 -> Condition is false i=" + str(i))

In [99]:
i=0
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

0
1
2
3
4
5
i is no longer less than 6

# Mathematical Function

### Built-in Math Functions

1. Find the lowest value of the 3 numbers (5, 10, 25)

In [135]:
list = [5, 10, 25]
list.sort()
print("Lowest value is", list[0])

Lowest value is 5

2. Find the number that has the highest value (5, 10, 25)

In [137]:
print("highest value is", list[-1])

highest value is 25

3. Find the absolute value of the number -7.25

In [139]:
x=abs(-7.25)
print(x)

7.25

4. Find the value of x to the power of y. (x = 4, y =3)

In [142]:
x=4
y=3

x= pow(x,y)
print(x)

64

### The Math Module
1. Find the square root of 64

In [100]:
import math
math.sqrt(64)

8.0

2. Round upwards the number 1.4 to the nearest integer

In [101]:
math.ceil(1.4)

2

3. Round downwards the number 1.4 to the nearest integer

In [102]:
math.floor(1.4)

1

4. Print the value of pi using the math module

In [103]:
print(math.pi)

3.141592653589793

In [104]:
# to calculate area of circle
Area_of_circle = math.pi-pow (5,2)
print(Area_of_circle)

-21.858407346410207

# Generating Random Numbers

1. Print a random number between the value 0 and 1

In [105]:
import random
print(random.random())

0.9262471143717605

2. Print a random integer between the value 1 and 50

In [107]:
print(random.randint(1,50))

45

3. Print a random float value between 0 and 50

In [108]:
print(random.uniform(0,50))

3.510852595719821